<!-- <div class="ui-g"></div> -->
<div>
    <!-- <p-messages [(value)]="msgs"hideTransitionOptions="250ms" enableService="false"></p-messages> -->

    <p-confirmDialog header="Confirmación" acceptLabel="Si" rejectLabel="No" icon="pi pi-exclamation-triangle">
    </p-confirmDialog>


    <p-panel header=" Mantenimiento de Aplicativos" [toggleable]="true"
        [style]="{'margin-bottom':'20px,width:100%,margin:0 auto'}">
        <p-menubar [model]="items"></p-menubar>

        <ng-container *ngIf="segAplicativos">

            <p-table #dt [value]="segAplicativos" [resizableColumns]="true" [responsive]="true" [paginator]="true"
                selectionMode="single" [(selection)]="selectedAplicativo" [rows]="10" [resizableColumns]="true"
                columnResizeMode="expand" autoLayout="true" [columns]="cols" datakey="idAplicativo">

                <!-- Buscador -->
                <ng-template pTemplate="caption">

                    <div style="text-align: right">
                        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Global Filter"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>

                </ng-template>
                <span class="st-icon-addthis"></span>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{col.header}}

                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon>
                        </th>
                    </tr>
                    <!-- Inicio: Método que hace la busqueda (Filter Global) -->
                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <input *ngSwitchCase="''" pInputText type="text"
                                (input)="dt.filter($event.target.value, col.field, 'contains')">
                        </th>
                    </tr>
                    <!-- Fin -->

                </ng-template>

                <ng-template pTemplate="body" let-segaplicativo let-columns="columns">
                    <tr [pSelectableRow]="segaplicativo" (click)="getModulo()">

                        <td *ngFor="let col of columns">

                            {{segaplicativo[col.field]}}

                        </td>
                    </tr>

                </ng-template>

            </p-table>
        </ng-container>

        <p-footer style="color:orangered;">
            <b>Cantidad de registros : {{cantidaRegistros}}</b>
            <br />
            <b>{{mensajeError}}</b>
        </p-footer>


    </p-panel>


    <!-- Tabla módulo -->




    <div>
        <p-panel header=" Funciones Asignados" [toggleable]="true"
            [style]="{'margin-bottom':'20px,width:100%,margin:0 auto'}">
            <ng-container>

                <p-table [columns]="colsModulo" [value]="segModulos" selectionMode="single"
                    [(selection)]="selectedModulo">

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex" (click)="getFuncion()">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <ul>
                         
                        </ul>
                    </ng-template>
                </p-table>
            </ng-container>

        </p-panel>

        <ng-template #noData>
            <p>No se encontraron información</p>
        </ng-template>
    </div>







    <!-- Tabla Función-->




    <div *ngIf="segModulos else noData">
        <p-panel header=" Modulos Asignados" [toggleable]="true"
            [style]="{'margin-bottom':'20px,width:100%,margin:0 auto'}">
            <ng-container>

                <p-table [columns]="colsFuncion" [value]="segFuncions"
                 selectionMode="single" 

                
                
                >

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns">
                                {{col.header}}
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </ng-container>

        </p-panel>

        <ng-template #noData>
            <p>No se encontraron información</p>
        </ng-template>
    </div>










    <!-- Formulario Emergente -->

    <p-dialog header={{titulo}} [(visible)]="displaySaveDialog" [responsive]="true" [style]="{width: '40vw'}"
        [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false" [modal]="true">

        <div class="ui-g ui-fluid">


            <!-- 1 -->

            <div class="ui-g-12" *ngIf="edicion">
                <div class="ui-g-4">
                    <label for="idUsuario">ID</label>
                </div>
                <div class="ui-g-8">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>
                        <input type="text" id="idAplicativo" [(ngModel)]="segaplicativo.idAplicativo" pInputText
                            placeholder="ID" disabled="true">
                    </div>
                </div>
            </div>



            <!-- 2 -->

            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="nombre">Código Aplicativo</label>
                </div>
                <div class="ui-g-8">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>
                        <input type="text" id="codAplicativo" [(ngModel)]="segaplicativo.codAplicativo" pInputText
                            placeholder="Código Aplicativo">
                    </div>
                </div>
            </div>



            <!-- 3 -->

            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="nombre">Nombre</label>
                </div>
                <div class="ui-g-8">
                    <div class="ui-inputgroup">
                        <span class="ui-inputgroup-addon"><i class="fa fa-credit-card"></i></span>
                        <input pInputText type="text" id="nomAplicativo" [(ngModel)]="segaplicativo.nomAplicativo"
                            pInputText placeholder="Nombre">
                    </div>
                </div>
            </div>




            <!-- 4 -->
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="Estado">Estado</label>
                </div>
                <div class="ui-g-8">
                    <p-checkbox name="isCambioPassword" value="val1" label="Activo"
                        [(ngModel)]="segaplicativo.isAplicativoActivo" binary="true"></p-checkbox>
                </div>

                <p style="color: red;">{{mensajeError}}</p>

            </div>







        </div>


        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" (click)="saveAplicativo()" pButton icon="fa fa-check" label="Guardar"
                    style="border-color: orange; background-color: #ffefcc; color: orangered;"></button>
                <button type="button" pButton icon="fa fa-close" (click)="Cancelar()" label="Cancelar"
                    style="background-color: #E04023; border-color: #E04023;"></button>

            </div>
        </p-footer>

    </p-dialog>



</div>